**::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.header {
    background-color: #348eb8;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
  
.header__form{
    display: flex;
}
 

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #3bc1d3;
    color: rgb(248, 248, 248);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: greenyellow;
  }
  
  .counter{
    width: 50%;
    text-align: center;
    color: #348eb8;
    padding: 15px;
    font-weight: bold;
  }
  .counters{
        display: flex;
        justify-items: center;
  }

  ul{
      margin: 0;
      padding: 0;
  }
  ul li {
    width: 100%;
    cursor: pointer;
    position: relative;
    /* padding: 12px 0 12px 40px; */
    list-style-type: none;
    background: rgb(28, 166, 230);
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:hover, ul li:nth-child(odd):hover{
      background: #458fc8
  }
  
  ul li:nth-child(odd) {
    background: rgb(113, 210, 240);
  }

.taskText{
    padding: 0 10px;
}

.doneBtn{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 40px;
    background: greenyellow;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doneBtn:hover{
    opacity: 1;
}

.done{
    text-decoration: line-through;
}

.close {
    position: relative;
    background-color: #f44336;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  
  .close:hover {
    opacity: 1;
  }

  /* .tooltip {
    position: relative;
    display: inline-block;
    }
  
  .tooltip .tooltip__text {
    opacity: 0;
    width: 120px;
    background-color: #f44336 ;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -130px;
  }
  
  .tooltip:hover .tooltip__text {
    opacity: 1;
  } */