**::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 1024px;
}

.header {
    background-color: #348eb8;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
  
.header__form{
    display: flex;
}
 

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #3bc1d3;
    color: rgb(248, 248, 248);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  
  .counter{
    width: 50%;
    text-align: center;
    color: #348eb8;
    padding: 15px;
    font-weight: bold;
  }
  .counters{
        display: flex;
        justify-items: center;
  }

  ul{
      margin: 0;
      padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 0 12px 40px;
    list-style-type: none;
    background: rgb(28, 166, 230);
    font-size: 18px;
    color: #fff;
    transition: 0.2s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:hover, ul li:nth-child(odd):hover{
      background: #458fc8
  }
  
  ul li:nth-child(odd) {
    background: rgb(113, 210, 240);
  }

  ul li::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }